<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAGl_jOOcYMzDEVmFF9XYsvPNkDL-O-pRs</string>
	<key>GCM_SENDER_ID</key>
	<string>826041343832</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.csMessagingPage.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>cs-messaging-app-9773d</string>
	<key>STORAGE_BUCKET</key>
	<string>cs-messaging-app-9773d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:826041343832:ios:70cfcabcbf2166d9088f2d</string>
</dict>
</plist>